run
# CI configurations
.github/actions-runner*

# Cache
__pycache__
*.pyc
.ruff_cache
.pytest_cache
.ipynb_checkpoints

# Data and artifacts
artifacts/
artifacts
datasets/
hub/
xet/

# Environment
.venv
.idea

# Debug
/tests/bar.py

# Other
trainer_output/
supplemetnary/
supplemetnary.zip
.claude

# MacOS system
.DS_Store

# Paper drafts / under-review PDFs
*.pdf
*.docx
**/.omc/

worktrees